body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#bg_photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title_img {
    width: 20%;
    height: 30%;
    border: 5px solid #d3d9e7;
    border-radius: 25px;
    background: #fdfffe7d;
    padding: 10px 4px 1px 4px;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 30px;
    margin-bottom: 50px;
    background-color: #478f47b8;
    padding: 5px;
    border-radius: 6px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(120deg, #2ecc71, #7ad109);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background: linear-gradient(120deg, #2bc777, #0049e5, #bb1c1c);
}

@media (max-width: 768px) {

    .button-container {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    h1 {
        font-size: 20px;

    }

    .btn {

        font-size: 18px;

    }

}